<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<app-navbar></app-navbar>
<!-- <div *ngFor="let section of sections" [id]="section.id" class="py-20 px-4 text-center" [ngClass]="section.bg">
  <h2 class="text-3xl font-bold text-blue-600">{{ section.title }}</h2>
  <p class="mt-4 text-gray-700">{{ section.content }}</p>
</div> -->
<div id="home" class="section">
  <app-home></app-home>
</div>
<div id="services" class="section">
  <app-services></app-services>
</div>
<div id="projects" class="section">
  <app-projects></app-projects>
</div>
<div id="about" class="section">
  <app-about></app-about>
</div>
<div id="contact" class="section">
  <app-contact></app-contact>
</div>
<app-footer></app-footer>
